<launch>
<!--先要打开tello_driver_node-->
	<include file="$(find nlink_parser)/launch/linktrack.launch" >
	</include>

	<node pkg="tello_position" type="tello0_node" name="tello0_control_node" output="screen">
		<param name="vel_P" value ="0.3"/> <!-- 1 is too big-->
		<param name="vel_D" value ="0"/>
		<param name="vel_I" value ="0"/>
		<param name="w_P" value ="0.01"/>
	</node>
</launch>
